<div class="flex justify-content" *ngIf="loading">
    <p-progressSpinner ariaLabel="loading"/>
</div>
<div class="" *ngIf="!loading">
    <p-card class="justify-content flex">
        <div class="container">
            <div class="row">
                <div class="col-5">
                    <div class="h1">
                        Proceso de compra
                    </div>
                </div>
                <div class="col-4">
                    <div class="h5">Hora de vuelo:</div>
                    <div class="h1">
                        {{ flightData.flightDate | date : 'shortTime' }}
                    </div>
                </div>
                <div class="col-3">
                    <div class="">
                        <span class="">{{ flightData.originName }}</span>
                        <i class="pi pi-arrow-right"> </i>
                        <span class="">{{ flightData.finalName }}</span>
                    </div>
                </div>
            </div>
        </div>
    </p-card>
    <p-card class="justify-content flex">
        <div class="container">
            <p-stepper [(activeStep)]="active" [linear]="true">
                <p-stepperPanel header="Escoge tu asiento(s)">
                    <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                        <app-seat-selector [selected]="ticket.seatId" (seatEvent)="sendSeat($event)"></app-seat-selector>
                        <p-toast />
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Revisa la orden">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                        <app-user-form [userEntered]="user" (userEvent)="getUser($event)"></app-user-form>
                        <p-toast />
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel header="Revisa tu vuelo">
                    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                        <div class="h3"><b>Resumen de la reserva</b></div>
                        <div class="row">
                            <div class="col-6">
                                <div class="h4"><b>Nombre completo:</b> {{ user.userName }} {{ user.userLastName }}</div>
                                <div class="h4"><b>Correo:</b> {{ user.userEmail }}</div>
                                <div class="h4"><b>Teléfono</b> {{ user.userPhone }}</div>
                            </div>
                            <div class="col-6">
                                <div class="h4"><b>Hora de vuelo:</b> {{ flightData.flightDate | date : 'shortTime' }}</div>
                                <div class="h4"><b>Asiento:</b> {{ ticket.seatId }}</div>
                                <div class="h4"><b>Código de vuelo:</b> {{ this.flightData.flightRouteCode }}</div>
                                <div class="h4"><b>Hora de embarque:</b> {{ this.flightData.flightTime | date : 'shortTime'}}</div>
                            </div>
                        </div>
                        <div class="flex pt-4 justify-content-between">
                            <p-button label="Regresar" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()" />
                            <p-button label="Pagar" icon="pi pi-arrow-right" iconPos="right" (click)="openPayment()"/>
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </p-card>

</div>

<p-dialog header="Selecciona el método de pago" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center" *ngFor="let item of paymentMethods">
            <p-radioButton 
                name="item.paymentMethodName" 
                [value]="item" 
                inputId="item.paymentMethodId"
                [(ngModel)]="selectedMethod" />
            <label for="{{item.paymentMethodId}}" class="ml-2">
                {{item.paymentMethodName}}
            </label>
        </div>
    </div>
    <p-button class="mt-24" label="Pagar" iconPos="right" id="pagoBtn" (click)="selectPayment()"/>
</p-dialog>